---
import '@/styles/global.css'
import '@/styles/misc.css'
import '@/styles/typography.css'

import Head from '@/components/base/Head.astro'
import LoadingBar from '@/components/base/LoadingBar.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import Footer from './Footer.astro'
import Header from './Header.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<!doctype html>
<html
  class="bg-background text-foreground scheme-light-dark"
  lang={SITE.locale}
>
  <Head>
    <slot name="head" />
  </Head>
  <body class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
    <LoadingBar />
    <header
      id="main-header"
      class="bg-background/50 divide-foreground/10 sticky top-0 z-50 divide-y backdrop-blur-sm transition-transform duration-300 ease-in-out xl:divide-none"
    >
      <Header />
      <slot name="subposts-navigation" />
      <slot name="table-of-contents" />
    </header>
    <main
      class={cn('w-full mx-auto flex grow flex-col gap-y-6 px-4', className)}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
